{% extends 'layout.html' %} {% block body %}

<style>

    html body {
      background-color: rgb(206, 206, 228);
  }

  
</style>
<!--Form Section-->
<br><br><br>
<br><br><br>
<br><br><br>
<br /><br />
<h1 style="text-align: center; margin: 0px; color: black; font-size: 47px;">
    <b>Coming Soon.................... 
</h1>
<!--h2 style="text-align: center; margin: 0px; color: black">
  <b>Want to get in touch?</b>
</h2-->
<br><br><br>
<br><br><br>
<br><br><br>
<br /><br />
<br><br><br>




<!-- Form section -->

{% endblock %}
