{% extends 'layout.html' %} {% block body %}

<style>

    html body {
      background-color: rgb(206, 206, 228);
  }

  
</style>
<!--Form Section-->
<br /><br />
<h1 style="text-align: center; margin: 0px; color: black">
    <b>Have Questions................? 
    </br>I have Answers........</b>
</h1>
<!--h2 style="text-align: center; margin: 0px; color: black">
  <b>Want to get in touch?</b>
</h2-->
<br>
<h3 style="text-align: center; margin: 0px;">
  <b>Feel free to contact me and I will get back to you as soon as possible!</b>
</h3>
<br><br><br>
    <p style="text-align: center; margin: 0px;"><b>Email id</b> : <a href="mailto:query.datastics@gmail.com">query.datastics@gmail.com</a></p>
    <p style="text-align: center; margin: 0px;"><b>Whatsapp</b> : <a href="https://wa.me/919167879942" target="_blank">+91-916-787-9942</a></p>
    <p style="text-align: center; margin: 0px;"><b>Contact</b> : <a href="tel:+91-9167879942">+91-916-787-9942</a></p>
    <p style="text-align: center; margin: 0px;"><b>Address</b> : Malad-East, Mumbai-400097</p>
<br><br><br>

  <!--form method="POST" action="{{ url_for('contact') }}">
    
  </form-->
</div>



<!-- Form section -->

{% endblock %}
